.navbar {
    -webkit-box-shadow: 0 2px 1px -1px #999;
    -moz-box-shadow: 0 2px 1px -1px #999;
    box-shadow: 0 2px 1px -1px #999;
}

#banner {
    background-color: #0F314D;
    -webkit-box-shadow: 0 2px 1px -1px #999;
    -moz-box-shadow: 0 2px 1px -1px #999;
    box-shadow: 0 2px 1px -1px #999;
}

.product {
    background-color: #F1F1F1;
    border-radius: 1px;
}

.productName {
    font-size: 2em;
}

.productBuy {
    font-size: 1.5em;
}

.category {
    font-size: 1.2em;
}

#footer {
    background-color: #0F314D;
    margin-top: 8em;
}

.description {
    font-size: 1.2em;
}

.badge {
    font-size: 1.5em;
}