<!DOCTYPE html>
<html ng-app="ShoppingApp">
    <head>
        <title>Cart</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>

        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller="CartController as cartCtrl"> 
        <div ng-include="'menu.html'"></div>

        <div class="container-fluid" id="banner">
            <div class="row">
                <div class="col pt-5 pb-5 text-center">
                    <h1 class="text-light">Shopping Cart</h1>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <table class="table cart">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"></th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="saleItem in cartCtrl.items">
                        <th scope="row"><a href="#" ng-click="cartCtrl.buyProduct(saleItem.product)"><img ng-src="/images/product/{{saleItem.product.productID}}"></a></th>
                        <td>{{saleItem.product.name}}</td>
                        <td>${{saleItem.salePrice.toFixed(2)}}</td>
                        <td>
                            <div class="row w-100 m-0">
                                <span class="col-xs-2 pr-4">{{saleItem.quantityPurchased}}</span>
                                <div class="col-xs-8">

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                            <button class="btn btn-success plusminus" ng-click="cartCtrl.addOne(saleItem)">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-warning plusminus ml-1" ng-click="cartCtrl.removeOne(saleItem)">
                                <i class="fa fa-minus text-light"></i>
                            </button>
                            </div>
                            <a class="remove row" href="#" ng-click="cartCtrl.removeAllFromCart(saleItem)">remove</a>
                        </td>
                        <td>${{saleItem.getItemTotal().toFixed(2)}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th scope="row">Total</th>
                        <td>${{cartCtrl.total.toFixed(2)}}  </td>
                    </tr>
                </tbody>
            </table>

            <div class="w-100 mt-5">
                <button ng-click="cartCtrl.checkOut()" class="btn btn-success float-right mr">Check Out</button>
                <button class="btn btn-danger pb-1 mr-3 float-right" ng-click="cartCtrl.clearCart()">Clear Cart</button>
            </div>
            <br>
            <p class="text-danger text-right mt-4">{{cartCtrl.checkOutMessage}}</p>
        </div>


        <div ng-include="'footer.html'"></div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>
