<!DOCTYPE html>
<html ng-app="ShoppingApp">
    <head>
        <title>Cart</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>

        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller="CartController as cartCtrl"> 
        <div ng-include="'menu.html'"></div>

        <h1>Shopping Cart</h1>

        <table>
            <tr>
                <td><b>Product</b></td>
                <td><b>Price</b></td>
                <td><b>Quantity</b></td>
                <td><b>Total</b></td>
            </tr>
            <tr ng-repeat="saleItem in cartCtrl.items">
                <td>{{saleItem.product.name}}</td>
                <td>${{saleItem.salePrice.toFixed(2)}}</td>
                <td>{{saleItem.quantityPurchased}}&nbsp;&nbsp;<a href="#" ng-click="cartCtrl.addOne(saleItem)">+</a>&nbsp;&nbsp;<a href="#" ng-click="cartCtrl.removeOne(saleItem)">-</a></td>
                <td>${{saleItem.getItemTotal().toFixed(2)}}</td>
                <td><a href="#" ng-click="cartCtrl.removeAllFromCart(saleItem)">remove all</a></td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td></td>
                <td></td>
                <td>${{cartCtrl.total.toFixed(2)}}  </td>
            </tr>
        </table>
        <p>{{cartCtrl.checkOutMessage}}</p>
        <a href="#" ng-click="cartCtrl.checkOut()">Check Out Cart</a>&nbsp;&nbsp;&nbsp;<a href="#" ng-click="cartCtrl.clearCart()">Clear Cart</a>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>
