<!DOCTYPE html>
<html ng-app="ShoppingApp">
    <head>
        <title>Create an Account</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>

        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller="CustomerController as custCtrl">
        <div ng-include="'menu.html'"></div>

        <div class="container-fluid" id="banner">
            <div class="row">
                <div class="col pt-5 pb-5 text-center">
                    <h1 class="text-light">Create an Account</h1>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="col-8 offset-2">
                <p class="text-danger formerror">{{custCtrl.registerMessage}}</p>

                <form ng-submit="custCtrl.registerCustomer(customer)">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="username"><b>User Name</b></label>
                            <input class="form-control" name="username" type="text" ng-model="customer.username" required pattern=".{3,32}" title="User name must be between 2 and 32 characters.">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="firstname"><b>First Name</b></label>
                            <input class="form-control" name="firstname" type="text" ng-model="customer.firstName" required pattern=".{1,64}" title="First name must be between 1 and 64 characters.">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="email"><b>Email</b></label>
                            <input class="form-control" name="email" type="email" ng-model="customer.emailAddress" required pattern=".{1,254}" title="Email may contain a maximum of 254 characters.">
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="lastname"><b>Last Name</b></label>
                            <input class="form-control" name="lastname" type="text" ng-model="customer.surname" required pattern=".{1,64}" title="Last name must be between 1 and 64 characters.">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="address"><b>Address</b></label>
                            <textarea class="form-control" rows="5" name="address" ng-model="customer.shippingAddress" required minlength="16" maxlength="256"></textarea>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="creditcard"><b>Credit Card</b></label>
                                <input class="form-control" name="creditcard" type="text" ng-model="customer.creditCardDetails" required pattern=".{16,128}" title="Credit card details must be between 16 and 128 characters.">
                            </div>
                            <div class="form-group mt-4">
                                <label for="password"><b>Password</b></label>
                                <input class="form-control" name="password" type="password" ng-model="customer.password" required pattern=".{6,64}" title="Password length must be between 6 and 64 characters.">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                    </div>
                    <div class="form-group">
                    </div>

                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary mt-3">Create Account</button>
                    </div>
                </form>
            </div>
        </div>

        <div ng-include="'footer.html'"></div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>
