<!DOCTYPE html>
<html ng-app="ShoppingApp">
    <head>
        <title>Browse Products</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>

        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller="ProductController as prodCtrl"> 
        <div ng-include="'menu.html'"></div>

        <div class="container-fluid" id="banner">
            <div class="row">
                <div class="col pt-5 pb-5 text-center">
                    <h1 class="text-light">Browse Products</h1>
                </div>
            </div>
        </div>

        <div class="container mt-5" id="content">
            <div class="row col-md-12">
                <div class="offset-md-3">
                    <h2>Categories</h2>

                    <a class="category" href="#" ng-click="prodCtrl.selectAll()">All</a>
                    <span class="ml-2" ng-repeat="cat in prodCtrl.categories">
                        |<a class="ml-2 category" href="#" ng-click="prodCtrl.selectCategory(cat)">{{cat}}</a>
                    </span>
                </div>
            </div>
            <div class="row mb-5 col-md-12 mt-5" ng-repeat="product in prodCtrl.products" ng-controller="CartController as cartCtrl">
                <div class="col-md-3">
                    <img class="w-100" ng-src="/images/product/{{product.productID}}">
                </div>

                <div class="col-md-9 product pt-2">
                    <div class="row">
                        <span class="col-sm-10 productName">{{product.name}}</span>
                        <div class="col-sm-2 text-right">
                            <button class="btn btn-success mt-1 pb-1" ng-click="cartCtrl.buyProduct(product)">Buy</button>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-md-6">${{product.listPrice.toFixed(2)}}</span>
                        <span class="col-md-6 text-right">{{product.quantityInStock}} in stock {{cartCtrl.getQuantityInCartString(product)}}</span>

                    </div>
                    <div class="row">
                        <span class="col-md-12 mt-3">{{product.description}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include="'footer.html'"></div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>
