<!DOCTYPE html>
<html ng-app="ShoppingApp">
    <head>
        <title>Sign In</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller="CustomerController as custCtrl"> 
        <a href="/index.html">Home</a>
        <a href="/sign_in.html">Sign In</a>

        <h1>Sign In</h1>

        <p>{{custCtrl.signInMessage}}</p>

        <form ng-submit="custCtrl.signIn(username, password)">
            <fieldset>
                <legend>Account Details</legend>
                
                <label for="username"><b>User Name</b></label>
                <input name="username" type="text" ng-model="username" required>
                <br>
                
                <label for="password"><b>Password</b></label>
                <input name="password" type="password" ng-model="password" required>
                <br>
                
                <button type="submit">Sign In</button>
            </fieldset>

        </form>

        <p>If you don't have an account then you can <a href="/create_account.html">create one</a></p>
    </body>
</html>
